
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <main class="logon-main">
    <div class="logon-box">
      <%= render "shared/logo" %>
      <h2>Cadastre-se</h2>
      <div class="textbox">
        <i class="far fa-user" aria-hidden="true"></i>
        <%= f.label :nome %><br>
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="textbox">
        <i class="far fa-user" aria-hidden="true"></i>
        <%= f.label :sobrenome %><br>
        <%= f.text_field :last_name %>
      </div>

      <div class="textbox">
        <i class="fas fa-envelope" aria-hidden="true"></i>
        <%= f.label :email %><br>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="textbox">
        <i class="fas fa-lock" aria-hidden="true"></i>
        <%= f.label :senha %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="textbox">
        <i class="fas fa-lock" aria-hidden="true"></i>
        <%= f.label :confirmação_da_senha %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <button class="btn-logon">
        <%= f.submit "Cadastrar" %>
      </button>
      <div class="link-sign-in">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </main>
<% end %>
