<%= render 'shared/sidenav_user' %>

<%= form_with model: @product, url: products_url do |f| %>

  <main class="logon-main">

    <div class="logon-box">
      <%= render "shared/logo" %>
      <%= render "shared/alert" %>

      <h2>Cadastrar novo produto</h2>

      <div class="textbox">
        <i class="far fa-user" aria-hidden="true"></i>
        <%= f.label :supplier_id, 'Fornecedor' %>
        <%= f.collection_select :supplier_id, Supplier.order(:corporate_name), :id, :corporate_name, autofocus: true %>
      </div>

      <div class="textbox">
        <i class="far fa-user" aria-hidden="true"></i>
        <%= f.label :nome_do_produto %>
        <%= f.text_field :name %>
      </div>

      <div class="textbox">
        <i class="fas fa-envelope" aria-hidden="true"></i>
        <%= f.label :descrição %>
        <%= f.text_field :description %>
      </div>

      <div class="textbox">
        <i class="fas fa-envelope" aria-hidden="true"></i>
        <%= f.label :sku %>
        <%= f.text_field :sku %>
      </div>

      <fieldset>
        <%= f.label :image, 'Insira a imagem do produto:' %>
        <%= f.hidden_field :image_cache %>
        <%= f.file_field :image %>
      </fieldset>

      <%= f.fields_for :price_lists do |p| %>
        <div class="textbox">
          <%= p.label :price, 'Preço de venda (R$)' %>
          <%= p.number_field :price, step: 0.01 %>
        </div>
      <% end %>

      <button class="btn-logon">
        <%= f.submit "Cadastrar" %>
      </button>
    </div>
  </main>
<% end %>
