<%= render 'shared/sidenav_user' %>

<div class="suppliers-report-all">
  <table>
    <caption>Fornecedores</caption>
    <thead>
      <tr>
        <th>Razão Social</th>
        <th>Nome Fantasia</th>
        <th>CNPJ</th>
      </tr>
    </thead>

    <tbody>
      <% @suppliers.each do |s| %>
        <tr>
          <td><%= s.corporate_name %></td>
          <td><%= s.fantasy_name %></td>
          <td><%= s.cnpj %></td>
      <% end %>
    </tbody>
  </table>

  <%= paginate @suppliers %>

  <div class="download-pdf">
    <%= link_to 'Download', '/suppliers.pdf', target: :blank %>
    <i class="fa fa-file-pdf"></i>
  </div>
</div>
